*
{
padding:0px;
color: #30200B;
text-align: left;
}

body
{
background-color: #FCF4E8;
}

header
{
margin-bottom: 3rem;
display: flex;
background-color: #FFEBCD;
padding: 1px 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 13px;
border-bottom: 0.2rem solid #BE7413;
}

header ul
{
display: flex;
gap: 20px;
position: absolute;
padding: 5px;
right: 20px;

list-style: none;
}

header ul li
{
background-color: #F4A460; 
padding: 7px;   
border-radius: 5px;
font-size: 18px
}   
          
